<h1>Widgets#index</h1>

<hr>

<pre><%=h @query.inspect %></pre>

<hr>
  
<%= error_messages_for 'query' %>

<% form_tag({}, :id => 'query_form', :onsubmit => "return false;") do %>

  <%= query_filters @query %>
  
  <%= query_columns @query %>

  <%= query_group_by @query %>
  
  <%= query_sort_criteria @query %>

  <%= link_to_remote "Apply", { 
        :url => { :set_filter => 1 },
        :before => 'selectAllOptions("selected_columns");',
        :update => "content",
        :complete => "apply_filters_observer()",
        :with => "Form.serialize('query_form')"
      } %>
<% end %>

<hr>

<%= query_list @query %>